  .form-container {
    display: flex;
    justify-content: center;
    align-items: end;
    height: 60vh;
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  form label {
    margin: 5px 0;
  }
  
  form input {
    margin: 5px 0;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    text-align: center;
  }
  
  .button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px; /* Space between form and buttons */
  }
  
  button {
    font-size: 1.5em; /* Large size */
    border-radius: 25px; /* Rounded corners */
    padding: 10px 20px;
    margin: 0 10px; /* Space between buttons */
    transition: opacity 1ms ease;
  }

  button:active {
    opacity: 0.5; /* Change opacity when button is pressed */
  }
  
  .buy-button {
    background-color: blue;
    color: white;
  }
  
  .sell-button {
    background-color: green;
    color: white;
  }

  .order-statuses {
    border: 1px solid #ccc; /* Border color */
    border-radius: 8px; /* Rounded corners */
    padding: 16px; /* Padding inside the box */
    width: 40dvw; /* Fixed width */
    background-color: #000000; /* Background color */
    color: white; /* Text color */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Box shadow for a 3D effect */
  }
  
  .order-statuses .success {
    color: green;
  }
  
  .order-statuses .failure {
    color: red;
  }

  .scrollable-list {
    max-height: 30dvh; /* Fixed height for the scrollable area */
    overflow-y: auto; /* Enable vertical scrolling */
  }

  .page-container {
    display: flex;
    align-items: end;
    justify-content: end;
    height: 40vh;
  }