<div class="form-container">
    <form #orderForm="ngForm">
        <input type="text" id="stock-symbol" name="stock-symbol" placeholder="Enter Symbol" ngModel required>
        <div class="button-container">
        <button class="buy-button" (click)="onBuy(orderForm)">
            Buy
        </button>
        <button class="sell-button" (click)="onSell(orderForm)">
            Sell
        </button>
        </div>
    </form>
    <div *ngIf="orderStatuses.length > 0" class="order-statuses">
        <div class="scrollable-list">
            <div *ngFor="let status of orderStatuses" [ngClass]="{'success': status.success, 'failure': !status.success}">
                {{ status.message }}
            </div>
        </div>

    </div>
</div>
