<form>
    <label for="email">Email</label>
    <input for="email" type="text" id="email" name="email" required>
    <label for="password">Password</label>
    <input for="password" type="password" id="password" name="password" required>
    <label for="confirm-password">Confirm Password</label>
    <input for="confirm-password" type="password" id="confirm-password" name="confirm-password" required>
    <label for="key">Traider Key</label>
    <input for="key" type="text" id="key" name="key" required>
    <button mat-flat-button class="sign-up-button">
        Sign Up
    </button>
</form>
<a routerLink="/signin">Already have an account? Sign in</a>