<ng-container *ngIf="authenticator.authStatus === 'configuring'">
  Loading...
</ng-container>
<ng-container *ngIf="authenticator.authStatus === 'authenticated'">
  <div class="content-container">
    <div class="accounts-container">
      <app-accountlist></app-accountlist>
    </div>
    <div class="dashboard-container">
      <app-order></app-order>
    </div>
    <div class="sign-out">
      <button class="sign-out-button" (click)="authenticator.signOut()">Sign Out</button>
    </div>
  </div>
</ng-container>
<ng-container *ngIf="authenticator.authStatus !== 'authenticated'">
  <app-auth></app-auth>
</ng-container>