  .content-container {
    display: flex;
    height: 100vh;
    overflow: hidden;
  }

  .dashboard-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  
  button {
    font-size: 1.5em; /* Large size */
    border-radius: 25px; /* Rounded corners */
    padding: 10px 20px;
    margin: 0 10px; /* Space between buttons */
    transition: opacity 1ms ease;
  }

  button:active {
    opacity: 0.5; /* Change opacity when button is pressed */
  }

  .accounts-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }

  .sign-out{
    display: flex;
    width: 100%;
    justify-content: end;
    align-items: end;
  }

  .sign-out-button {
    background-color: darkslategray;
    font-size: medium;
    color: white;
  }