/* You can add global styles to this file, and also import other style files */
html, body {
    background-color: #1c1c1c; /* Dark background color */
    /* color: #ffffff; Light text color for contrast */
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
  }