/* You can add global styles to this file, and also import other style files */
@import '@aws-amplify/ui/dist/styles.css';

html, body {
    background-color: #797777; /* Dark background color */
    /* color: #ffffff; Light text color for contrast */
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
  }